<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- 过滤掉不重要的栈信息 -->
    <conversionRule conversionWord="shortened" class="org.jetlinks.community.logging.logback.ShortenedThrowableConverter"/>
    <property name="LOG_EXCEPTION_CONVERSION_WORD" value="%shortened"/>

    <springProperty scope="context" name="LOG_EVENT_THRESHOLD" source="logging.threshold.event" defaultValue="WARN" />

    <!-- 记录到 系统日志 功能中 可通过配置 logging.threshold.event=WARN 来指定记录的日志级别 -->
    <appender name="LOGEventPublisher" class="org.jetlinks.community.logging.logback.SystemLoggingAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOG_EVENT_THRESHOLD}</level>
        </filter>
    </appender>

    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker" level="ERROR"/>
    <logger name="org.jetlinks.pro.timescaledb.impl.DefaultTimescaleDBDataWriter" level="WARN"/>

    <!--控制台使用异步打印，防止阻塞-->
    <appender name="AsyncConsoleAppender" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 队列的深度，该值会影响性能，默认 256 -->
        <queueSize>256</queueSize>
        <!-- 设为 0 表示队列达到 80%，也不丢弃任务-->
        <discardingThreshold>0</discardingThreshold>
        <!-- 日志上下文关闭后，AsyncAppender 继续执行写任务的时间，单位毫秒 -->
        <maxFlushTime>1000</maxFlushTime>
        <!-- 队列满了是否直接丢弃要写的消息，false、丢弃，true、不丢弃 -->
        <neverBlock>true</neverBlock>
        <!--是否记录调用栈-->
        <includeCallerData>true</includeCallerData>
        <!--One and only one appender may be attached to AsyncAppender，添加多个的话后面的会被忽略-->
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="AsyncConsoleAppender"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOGEventPublisher"/>
    </root>

</configuration>